{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>메인페이지입니다.</h1>
    <img src="{% static 'image/stone.jpg' %}"></img><br>
    
    <a href="{% url 'create' %}" class="btn btn-primary">글 작성하기</a><div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
    
    
</div>
{% endblock %}